<template>
    <div class="abot-page">
        <h1>This is my abosolutely fantastic "About Me" Page!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quos error cupiditate dolorum nostrum porro dignissimos vitae veritatis. Quisquam, animi! Et voluptatum id voluptatibus, vero iusto facilis quis cumque quas!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quos error cupiditate dolorum nostrum porro dignissimos vitae veritatis. Quisquam, animi! Et voluptatum id voluptatibus, vero iusto facilis quis cumque quas!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quos error cupiditate dolorum nostrum porro dignissimos vitae veritatis. Quisquam, animi! Et voluptatum id voluptatibus, vero iusto facilis quis cumque quas!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quos error cupiditate dolorum nostrum porro dignissimos vitae veritatis. Quisquam, animi! Et voluptatum id voluptatibus, vero iusto facilis quis cumque quas!</p>
    </div>
</template>

<style scoped>
.about-page {
    text-align: center;
    padding: 30px;
}
</style>
