<template>
    <div class="home-page">
        <section class="intro">
            <h1>Get the latest techn news!</h1>
        </section>
        <section class="featured-post">
            <PostPreview 
                id="1"
                thumbnail="_nuxt/assets/img/frutas1.jpg"
                title="Hellow! there!"
                previewText="This is my fisrts post!" />
            <PostPreview 
                id="2"
                thumbnail="_nuxt/assets/img/frutas1.jpg"
                title="Hellow! there - my second time!"
                previewText="This is my second post!" />
            <PostPreview 
                id="3"
                thumbnail="_nuxt/assets/img/frutas1.jpg"
                title="Hi!"
                previewText="This is my third post!" />    
            
        </section>
    </div>
</template>

<script>
import PostPreview from '@/components/Posts/PostPreview'

export default {
    components: {
        PostPreview
    }    
}
</script>



<style scoped>
.intro {
    height: 300px;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    background-image: url('~assets/img/frutas1.jpg');
    background-position: center;
    background-size: cover;
}

.intro h1 {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    font-size: 1.5rem;
    color: black;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3x 3px 3px black;
    box-sizing: border-box;
    border: 1px solid black;
}

@media (min-width: 768px) {
    .intro h1 {
        font-size: 2rem;
    }
}

.featured-post {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
</style>
